@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', serif;
}

.header{
    height: 18vh;
    width: 100vw;
    font-size: clamp(2rem,6vh,3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333D51;
    
}

.page-name{
    margin: 0.7rem;
    margin-bottom: 0;
    color: #F4F3EA;
    font-weight: 700;
}

.page-subtitle{
    font-size: clamp(1rem,3vh,2rem);
    color: #D3AC2B ;
}

#show_dialog{
    height: 60px;
    width: 200px;
    margin: 1rem;
    justify-self: center;
    margin-bottom: 0;
    font-size: 1.5rem;
    border-radius: 8px;
}

.added-books{
    align-self: start;
    margin: 2rem;
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.book_box{
    min-width: 15vw;
    min-height: 13vh;
    max-width: 18vw;
    border:#333D51 solid 5px;
    border-radius: 20px;
    padding: 10px;
    font-size: clamp(1vh,3vh,5vh);
    text-wrap: wrap;
    overflow: hidden;
    text-align: start;
    background-color: #d3ac2b62;
    display: flex;
    flex-direction: column;
    text-align: center;

    
    
}

#book-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}

#title{
    height: 3.6em; /* Set the height for two lines with some additional space */
  overflow: hidden;
}


#checky{
    height: 20px;
    width: 20px;
    
  }

#del_btn{
    width: 50%;
    align-self: center;
    background-color: #333D51;
    color: #D3AC2B;
    font-size: 1.2rem;
    border-radius: 10px;
}

#del_btn:hover{
    background-color: #E2495B;
    color: #F4F3EA;
}

fieldset{
    display: flex;
    min-height: 50vh;
    min-width: 25vw;
    flex-direction: column;
    gap: 1vh;
    font-size: clamp(2vh,3vh,5vh);
    align-items: center;
   
}

.input-field{
    max-width: 90%;
    height: 15%;
    margin: 1rem;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
}

legend{
    margin-bottom: 1rem;
    justify-self: center;
}

.form-btns{
    min-width: 15vh;
    min-height: 5vh;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    gap: 2vh;
    margin-top: 2vh ;

}

.form-btns > button{
    background-color: #333D51;
    color: #D3AC2B;
    font-size: 1.2rem;
    border-radius: 10px;
}

#cancel:hover{
    background-color: #E2495B;
    color: #F4F3EA;
}

#btn:hover{
    color: #333D51;
    background-color: #d3ac2ba2;
}

.text-field{
    width: 80%;
    font-size: 1.5rem;
}

.check_btn{
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 1rem;
    margin-top: 1rem;
    max-width: 60%;
    align-self: center;
}

#add_Book{
    border: #333D51 solid 15px;
    border-radius: 20px ;
    background-color: #A3C6C4
}

.input-field > #book-read{
    height: 10vh;
    width: 10vw;
}

.input-field > input[type=checkbox] {
    transform: scale(2,2);
    max-width: 100%;
}

#show_dialog:hover {
    background-color: #D3AC2B ;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    color: #F4F3EA;
    border-radius: 8px;
}
input[type="button"], input[type="submit"] {
    font-family: inherit;
}



@media only screen and (max-width: 767px) {
    body{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #add_Book{
        max-width: 80vw;
        margin-top: 20vh;
    }
    .added-books{
        margin: 5vw;
        align-self: center;
    }
    #book-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 80vw;
        align-items: center;
    }

    .book_box{
        display: flex;
        min-width: 80%;
        height: 30vh;
       text-align: center;
    }
}